:root {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
* {
    box-sizing: border-box;
}
body {
    background: #333;
}
.bank-card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(3, 240px);
    grid-gap: 2em;
    justify-items: center;
    max-width: 1500px;
    margin: 30px auto;
}
.bank-card {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    position: relative;
    font-size: 1.2rem;
}
.weekly-sales-card {
    background-image: linear-gradient(to right, #ffbd9a, #faab91, #f5988a, #ed8687, #e47486);
}
.weekly-order-card {
    background-image: linear-gradient(to right, #8bc8f5, #72b6eb, #58a4e0, #3c92d6, #1380cb);
}
.visitors-card {
    background-image: linear-gradient(to right, #7bd8d1, #65ccc2, #4ebfb3, #33b3a3, #04a794);
}
.card-name,
.card-description {
    text-transform: capitalize;
    font-weight: 600;
}
.card-name,
.card-balance {
    margin-bottom: 20px;
}
.card-name {
    display: inline-block;
}
.card-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 1.8em;
}
.card-balance {
    font-size: 2rem;
    font-weight: 700;
}
.card-description {
    margin-top: 70px;
    font-weight: 500;
    font-size: 1.2rem;
}
.bank-card {
    position: relative;
    overflow: hidden;
}
.bank-card::before,
.bank-card::after {
    content:"";
    display: inline-block;
    width: 200px;
    height: 200px;
    position: absolute;
    background: rgba(255,255,255,.3);
    border-radius: 50%;
}
.bank-card::after {
    bottom: 35%;
    left: 70%;
}
.bank-card::before {
    top: 45%;
    left: 60%;
}